body {
    margin: 0;
    padding: 0;

    background: #c62828;
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
    background: white;
    padding: 30px;
    margin: 40px 0;
}

.nav {

    width: 800PX;
    text-align: center;
    /* word-spacing: 50PX; */
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin: 20px auto;
    width: 90%;
}

.main-img {
    width: 100%;
    display: block;
    margin: 20px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    justify-content: center;   /* GRID ko center karega */
    align-items: center;       /* Items ko vertical align karega */
    text-align: center;
    margin-top: 20px;
}


.gallery img {
    width: 100%;
    /* height: 130px; */
    object-fit: cover;
    display: inline-block;
}

.caption {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}